@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	* {
		@apply border-solid border-black/10;
	}
	body {
		@apply h-full font-ppneue min-h-screen bg-white  text-neutral-800 overflow-x-hidden;
		font-feature-settings:
			"rlig" 1,
			"calt" 1;
	}
}
@font-face {
	font-family: "PPNeueMontreal";
	src: url("./fonts/PPNeueMontreal-Bold.otf") format("opentype");
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "PPNeueMontreal";
	src: url("./fonts/PPNeueMontreal-Book.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "PPNeueMontreal";
	src: url("./fonts/PPNeueMontreal-Italic.otf") format("opentype");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "PPNeueMontreal";
	src: url("./fonts/PPNeueMontreal-Medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "PPNeueMontreal";
	src: url("./fonts/PPNeueMontreal-SemiBolditalic.otf") format("opentype");
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: "PPNeueMontreal";
	src: url("./fonts/PPNeueMontreal-Thin.otf") format("opentype");
	font-weight: 100;
	font-style: normal;
}
